<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="topicContainer" class="org.springframework.data.redis.listener.RedisMessageListenerContainer"
          destroy-method="destroy">
        <property name="connectionFactory" ref="jedisConnectionFactory"/>
        <property name="taskExecutor">
            <bean class="org.springframework.scheduling.concurrent.ThreadPoolTaskScheduler">
                <property name="poolSize" value="3"></property>
            </bean>
        </property>
        <property name="messageListeners">
            <map>
                <entry key-ref="topicMessageWithUserCenterListener">
                    <ref bean='channelTopic'/>
                </entry>
            </map>
        </property>
    </bean>

    <!-- Channel设置 -->
    <bean id='channelTopic' class='org.springframework.data.redis.listener.ChannelTopic'>
        <constructor-arg value='HQ_QRCODE_TRADE_TOPIC'/>
    </bean>
</beans>