<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd 
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd 
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	
	<bean id="props" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="ignoreResourceNotFound" value="true" />
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
		<property name="locations">
			<list>
				<value>classpath:default.properties</value>
				<value>file:///${user.home}/.hq/default.properties</value>
			</list>
		</property>
	</bean>
    <import resource="classpath:spring-mongodb-test.xml"/>
	<import resource="classpath:spring-redis.xml"/>
	<import resource="classpath:spring-mybatis-test.xml" />
	<context:component-scan base-package="com.hq">
		<!--<context:include-filter type="regex" expression="com.hq.scrati.framework.IDGenerator"/>-->
		<!--<context:exclude-filter type="regex" expression="com.hq.scrati.framework.FrameworkInvoker"/>-->
		<!--<context:exclude-filter type="regex" expression="com.hq.scrati.framework.adapter.*"/>-->
		<!--<context:exclude-filter type="regex" expression="com.hq.scrati.framework.cfg.*"/>-->
		<!--<context:exclude-filter type="regex" expression="com.hq.scrati.framework.invoker.*"/>-->
		<!--<context:exclude-filter type="regex" expression="com.hq.scrati.framework.rabbitmq.*"/>-->
		<!--<context:exclude-filter type="regex" expression="com.hq.scrati.framework.task.*"/>-->
	</context:component-scan>
</beans>